* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
 }

body{
    background-image: url("https://i.pinimg.com/236x/d9/f8/55/d9f855b16ddaf79e64d938aa25c22ed8.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
} 
.nombre-negocio{
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 700;
    color: black;
    background-color: rgb(34, 171, 178);    
}

.div-productos{
    display: grid;
    
    
}

.div-header{
    text-align: center;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: monospace;
}

.div-cuchillos  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    
   
}
.div-utencillos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 57px;
   
}


.producto-button{
    width: 100px;
    font-size: 15px;
    margin: 25px;
}


.producto{
    border: 6px solid rgb(0, 0, 0);
    box-sizing: initial;
    text-align: center;
    color: rgb(0, 0, 0);
}

#caja{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;    
    margin: auto;
    font-family: monospace;
    color: black;
}
.card-body{
    border: 6px solid rgb(0, 0, 0);
}

.div-carrito{
    
    border: 6px solid rgb(0, 0, 0);
    box-sizing: initial;
    text-align: center;
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-family: monospace;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.carrito-total{
    width: fit-content;
    padding: auto;


}

.carrito-total-costo{
    font-size: 12px;
    color: black;
    text-align: center;
}

.anchor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 65px;
    font-weight: 900;
    font-family: monospace;
    text-decoration: none;
    color: black;
    
}
